.comments-comment {
  border-bottom: 1px solid grey;
}
.comments-comment:last-child {
  border-bottom: none;
}
.comment {
  padding: 24px 0px;
}
.comment .comment-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 11px;
}
.comment .comment-heading .comment-authored {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 11px;
  margin-inline-end: 15px;
}
.comment .comment-heading .comment-authored .author-avatar {
  margin-inline-end: 8px;
}
.comment .comment-heading .comment-authored .comment-meta .author-name {
  font-size: 520px;
  font-size: 16px;
  line-height: 24px;
}
.comment .comment-heading .comment-authored .comment-meta .comment-date {
  font-size: 12px;
  line-height: 22px;
  white-space: nowrap;
}
.comment .comment-heading .comment-actions .comment-action {
  margin-inline-start: 16px;
}
.comment .comment-heading .comment-actions .comment-action:first-child {
  margin-inline-start: 0;
}
.comment .comment-body .comment-content {
  font-size: 16px;
  line-height: 24px;
}
.comment .comment-body .comment-content img {
  max-width: 100%;
}
