{%- import "comments/ui/comments.html" as _comments with context -%}

{%- set ext_comments_thread = ext_comments_thread or _comments.ext_comments_thread -%}
{%- set ext_comments_thread_box = ext_comments_thread_box or _comments.ext_comments_thread_box -%}
{%- set ext_comments_list = ext_comments_list or _comments.ext_comments_list -%}
{%- set ext_comments_comment = ext_comments_comment or _comments.ext_comments_comment -%}
{%- set ext_comments_form = ext_comments_form or _comments.ext_comments_form -%}
{%- set ext_comments_comment_authored = ext_comments_comment_authored or _comments.ext_comments_comment_authored -%}
{%- set ext_comments_comment_actions = ext_comments_comment_actions or _comments.ext_comments_comment_actions -%}
{%- set ext_comments_comment_content = ext_comments_comment_content or _comments.ext_comments_comment_content -%}
{%- set ext_comments_comment_footer = ext_comments_comment_footer or _comments.ext_comments_comment_footer -%}
