{#
subject_id
subject_type
#}

{% import 'macros/form.html' as form %}

<form class="form comment-form">
    <fieldset>
        <legend>{{ _('Leave a comment') }}</legend>
        {{ form.hidden('subject_id', subject_id) }}
        {{ form.hidden('subject_type', subject_type) }}
        {{ form.textarea('content', id='comment-content', label=_('Content')) }}
    </fieldset>

    <div class="form-group control-full">
        <button type="submit" class="btn btn-primary">
            {{ _('Save') }}
        </button>
    </div>
</form>
