{#
  comment - dict
  #}

<div class="comment comment-state-{{ comment.state }}" id="comment-{{ comment.id }}">
    <div class="comment-heading">
        <div class="comment-authored">
            <div class="author-avatar">
                {% if comment.anonymous %}
                    {{ h.comments_annonymouse_image(size=26) }}
                {% else %}
                    {{ h.user_image(comment.author.name, size=26) }}
                {% endif %}
            </div>

            <div class="comment-meta">
                <div class="author-name">
                    {% if comment.anonymous %}
                        {{ _("Anonymous User") }}
                    {% else %}
                        {{ comment.author.fullname or comment.author.name }}
                    {% endif %}
                </div>
                <div class="comment-date">
                    {{ h.time_ago_from_timestamp(comment.modified_at or comment.created_at) }}
                </div>
            </div>
        </div>
        <div class="comment-actions">
            {% if h.check_access('comments_reply_create', {"reply_to_id": comment.id}) %}
                <button aria-label="reply to comment" title="{{ _('Reply') }}" class="btn btn-default comment-action reply-to-comment" data-id="{{ comment.id }}">
                    <i class="fa fa-mail-reply"></i>
                    <span class="text">{{ _('Reply') }}</span>
                </button>
            {% endif %}
            {% if not comment.approved and h.check_access('comments_comment_approve', comment) %}
                <button aria-label="approve comment" title="{{ _('Approve') }}" class="btn btn-success comment-action approve-comment" data-id="{{ comment.id }}">
                    <i class="fa fa-check"></i>
                    <span class="text">{{ _('Approve') }}</span>
                </button>
            {% endif %}
            {% if h.check_access('comments_comment_update', comment) %}
                <button aria-label="edit comment" title="{{ _('Edit') }}" class="btn btn-default comment-action edit-comment" data-id="{{ comment.id }}">
                    <i class="fa fa-edit"></i>
                    <span class="text">{{ _('Edit') }}</span>
                </button>
                <button aria-label="save comment" title="{{ _('Save') }}" class="btn btn-default comment-action save-comment d-none" data-id="{{ comment.id }}">
                    <i class="fa fa-edit"></i>
                    <span class="text">{{ _('Save') }}</span>
                </button>
            {% endif %}

            {% if h.check_access('comments_comment_approve', comment) and comment.approved %}
            
                {% if comment.pinned %}
                <button aria-label="pin comment" title="{{ _('Unpin') }}" class="btn btn-default comment-action unpin-comment" data-id="{{ comment.id }}">
                    <i class="fa fa-pin"></i>
                    <span class="text">{{ _('Unpin') }}</span>
                </button>
                {% else %}
                <button aria-label="pin comment" title="{{ _('Pin') }}" class="btn btn-default comment-action pin-comment" data-id="{{ comment.id }}">
                    <i class="fa fa-pin"></i>
                    <span class="text">{{ _('Pin') }}</span>
                </button>
                {% endif %}

                {% if comment.hidden %}
                <button aria-label="hide comment" title="{{ _('Unhide') }}" class="btn btn-default comment-action unhide-comment" data-id="{{ comment.id }}">
                    <i class="fa fa-edit"></i>
                    <span class="text">{{ _('Unhide') }}</span>
                </button>
                {% else %}
                <button aria-label="hide comment" title="{{ _('Hide') }}" class="btn btn-default comment-action hide-comment" data-id="{{ comment.id }}">
                    <i class="fa fa-edit"></i>
                    <span class="text">{{ _('Hide') }}</span>
                </button>
                {% endif %}

            {% endif %}

        </div>
    </div>
    <div class="comment-body">
        <div class="comment-content">
            {{- (comment.content)|replace('\n', '\n<br/>'|safe) -}}
        </div>
    </div>
    <div class="comment-footer">

    </div>
</div>
