<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('What are Comments?') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
        The commenting feature allows users to engage with dataset publishers and the community by sharing feedback, suggestions, or questions directly on dataset pages. Whether you want to clarify dataset details, highlight potential improvements, or discuss usage scenarios, this feature provides a space for collaborative discussions. Comments help enhance dataset quality and ensure the information is as useful and relevant as possible. Start a conversation and contribute to the ongoing improvement of open data.
        {% endtrans %}
      </p>
    </div>
  </div>